# @Author: XY | The Findables Company <arietrouw>
# @Date:   Tuesday, January 23, 2018 9:36 AM
# @Email:  developer@xyfindables.com
# @Filename: .eslintrc
# @Last modified by:   arietrouw
# @Last modified time: Tuesday, March 6, 2018 3:08 PM
# @License: All Rights Reserved
# @Copyright: Copyright XY | The Findables Company

{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "func-names": 0
  }
}
