# @Author: XY | The Findables Company <arietrouw>
# @Date:   Tuesday, February 27, 2018 9:50 AM
# @Email:  developer@xyfindables.com
# @Filename: .eslintrc
# @Last modified by:   arietrouw
# @Last modified time: Sunday, March 4, 2018 6:03 PM
# @License: All Rights Reserved
# @Copyright: Copyright XY | The Findables Company



{
 "root": true,
 "env": {
  "es6": true,
  "node": true,
  "browser": true
 },
 "parserOptions": {
  "ecmaVersion": 6,
  "sourceType": "module",
  "ecmaFeatures": {
   "jsx": true,
   "experimentalObjectRestSpread": true
  }
 }
}
